.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10%;
    background-color: #121212;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
}

.logo img {
    height: 60px;
    width: auto;
}


.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 1; 
    gap: 40px; 
}


.navbar a {
    position: relative;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    text-align: center; 
    display: inline-block;
    transition: color 0.3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #C6912C;
    transition: width 0.3s;
}

.navbar a:hover {
    color: #C6912C;
}

.navbar a:hover::before {
    width: 100%;
}
